.header-color {
text-shadow: 2px 2px 3px black;
  background: #ED213A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #53090E, rgb(136, 1, 10));  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #53090E, rgb(136, 1, 10)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.landing-grid {
background: #ED213A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

text-align: center;

top: 0;
left: 0;
width: 100%;
height: 100%;
}
.drawer{
  outline: 0;
  
}
.avatar-img{
  
  width: 400px;
  margin-top: 3em;
  border-radius: 50px;
  box-shadow:  0 0 25px rgb(66, 0, 0)
  
}

.banner-text {
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 44px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
  text-align: center;
}

.banner-text p {
  color: white;
  font-size: 18px;
  padding: 1em;
  text-align: center;
}

.social-links{
  display: flex;
  justify-content:  space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color:  white;
  font-size:  3em;
  padding-bottom: 1rem;
}
a{
  text-decoration: none;
  color: aliceblue;
}
a:link {
  text-decoration: none;
  color: aliceblue;
}
a:visited {
  color: aliceblue;
}
a:active {
  text-decoration: none;
  color: aliceblue;
}
.projects-grid {
 
  display: flex;
  flex-wrap: wrap;  
  text-align: center;
  background-color: white;
  border-radius: 30px;
}
.card-title{
  height: 200px;
  background: rgb(200, 200, 250);
  font-family: 'Oxygen', sans-serif;
  border-radius: 30px;
  color: white;
  
}


.category-tabs{
  background: #ED213A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }


.card.text{
  font-family: 'Oxygen', sans-serif;  
}
.project-content h1{
  text-align: center;
  font-family: 'Anton', sans-serif;
  color: whitesmoke;
}

.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top:  2em;
  background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow-y:auto
}
.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: rgb(255, 231, 231);
  color: black;
  margin-bottom: 20px;
  border-radius: 50px;
}

.contact-grid h2 {
  font-family: 'Anton', sans-serif;
}
.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}
.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}
.contact-list i {
  font-size: 40px;
  padding-right: 1rem;
}
.contact-list a {
  color: purple;
}

.contact-body img {
  border-radius: 50%;
}

#education{
  background: rgb(255, 249, 249);
  color: black;
  padding: 2em;
  border-radius: 30px;
  padding: 5px;
  margin: 5px;
}

.about-content h1, .sport-content h1{
  font-family: 'Anton', sans-serif;  
}

.about-content, .sport-content{
  font-family: 'Oxygen', sans-serif;
  font-size: 25px;
  
}
.sport, .hobbies{
  background: #ED213A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
width: 100%;
height: 100%;
}
.sport-content p {
 
  padding-left: 10%;
  padding-bottom: 5%;
  padding-right: 10%;
  font-size: 20px;
  line-height: 150%;
}
.sport-content img {
  width: 350px;
  border-radius: 30px;
  margin-left: 50px;
  margin-top: 5%;
}
#Music, #Game-Development {
  background: rgb(255, 154, 39);
  color: white;
  padding: 2em;
  border-radius: 30px;
  padding: 5px;
  margin: 5px;
}
#Skybox {
  background: wheat;
  color: rgb(216, 115, 0);
  padding: 2em;
  border-radius: 30px;
  padding: 5px;
  margin: 5px;
}
#Basketball,#Cycling, #Skiing, #Rugby {
  background: rgb(63, 18, 0);
  color: white;
  padding: 2em;
  border-radius: 30px;
  padding: 5px;
  margin: 5px;
}
#Running, #Swimming, #Hiking, #Climbing {
  background: rgb(56, 48, 48);
  color:   white;
  padding: 2em;
  border-radius: 30px;
  padding: 5px;
  margin: 5px;
}
#studies{
  
  background: rgb(56, 56, 56);
  color: white;
  padding: 2em;
  border-radius: 30px;
  padding: 5px;
  margin: 5px;
}
#interests{
  background: rgb(255, 249, 249);
  color: black;
  padding: 2em;
  border-radius: 30px;
  padding: 5px;
  margin: 5px;
}
.about-nav-bar{  
  width: 7%;  
  position: fixed;
  margin: auto;

}
.about-nav-bar a {
  color: white;

}
.about-cell{
  
  background-color: rgb(88, 40, 40);
  border-radius: 30px;  
  
}
.about-cell a {
  font-family: 'Oxygen', sans-serif; 
   font-size: 15px;  
  
  
}

.about-nav-bar ul{
  list-style-type: none;
  padding-left: 22px;
  background-color: rgba(255, 212, 212, 0.18);
  border-radius: 30px;  
  display: block;  
}

.about-nav-bar li{
  padding-top: 1em;
  padding-bottom: 1em;
  
}

.about {
  background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox*/
}
.about-content-right a{
  color: grey;
}
.about-content-right a:hover{
  color: orange;
}
.about-content-right{
  font-family: 'Oxygen', sans-serif;
 
}
.about-content img{
  width: 200px;
  margin-left: 60px;
  border-radius: 10px;
  border: none;  
} 
